[Desktop Entry]
Name=Configurar nombre de host
Comment=Configurar amigablemente el nombre de host
Exec=gksu conectar-hostname-setup
Terminal=false
Type=Application
Icon=preferences-system
Categories=GNOME;GTK;System;
