[Desktop Entry]
Name=Huayra Identinet
Comment=Configurar amigablemente el nombre de tu computadora
Exec=/usr/bin/huayra-identinet
Terminal=false
Type=Application
Icon=huayra-identinet
Categories=GNOME;GTK;System;
