[Desktop Entry]
Name=Configurar nombre de host
Comment=Configurar amigablemente el nombre de host
Exec=/usr/bin/huayra-hostname-setup
Terminal=false
Type=Application
Icon=preferences-system-network
Categories=GNOME;GTK;System;
