[Desktop Entry]
Name=Configurár el nombre de tu computadora
Comment=Configurar amigablemente el nombre de tu computadora
Exec=/usr/bin/huayra-hostname-setup
Terminal=false
Type=Application
Icon=preferences-system-network
Categories=GNOME;GTK;System;
